{% extends "mutualfunds/base.html" %}

{% block content %}

<div class="home_page_contents">
<h2 class="home_page_header">Welcome to Greenvestor</h2>

<div>Investment advice is extremely valuable, especially to those that lack a financial background. Visually understanding if a fund is High Risk High Reward or Low Risk Low Reward is far easier than absorbing individual Sharpe ratios or understanding the trends in returns year-to-year. </div>

<div>Understanding the environmental and social impact by the ESG scores and inversely understanding their impact on returns can be extremely useful in forming informed opinions. Even for those with extensive domain knowledge, understanding what assets each fund has and who has the highest cash assets can present valuable insight in designing and balancing their portfolio.</div>

<div>At GREENVESTOR, we believe that investing in sustainability is the key to building a better future. Our platform empowers investors to make informed decisions about their investments by providing access to the latest ESG data and sustainable investment options. With GREENVESTOR, you can invest in your future while making a positive impact on the world.</div>

</div>
{% endblock content %}